.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(131, 126, 126);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    padding: 20px;
    background-color: wheat;
    border-radius: 5px;

}
.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.calculator>.form-group>button{
    width: 25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
}


.calculator>.form-group>button:hover{
    background-color: rgb(172, 163, 163);

}

.calculator>.form-group>input{
    width: 100%;
    font-size: 25px;
    border: 1px solid rgb(126, 120, 120);
    text-align: end;
    outline: none;
    border-radius: 5px;
}
.calculator>.form-group>.evaluate{
    color: aliceblue;
    background-color: rgb(37, 37, 134);
    font-size: 30px;
}

.calculator>.form-group>.evaluate:hover{
    background-color: rgb(149, 149, 202);
}


